.circle-magic-kingdom {
  stroke: red;
  stroke-width: 5px;
  animation: AnimationMap infinite 5s;
  transition: stroke-width 1s;
}

.circle-magic-kingdom:hover {
  stroke-width: 12px;
}
.locate-me-button {
  z-index: 9999;
  color: white;
  position: absolute;
  bottom: 45px;
  right: 12px;
  cursor: pointer;
}

@keyframes AnimationMap {
  0% {
    stroke: red;
  }
  14% {
    stroke: orange;
  }
  28% {
    stroke: yellow;
  }
  43% {
    stroke: lime;
  }
  57% {
    stroke: blue;
  }
  71% {
    stroke: blueviolet;
  }
  85% {
    stroke: magenta;
  }
  100% {
    stroke: red;
  }
}
